name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_PETZY_HOST }}
          username: ${{ secrets.SERVER_PETZY_USER }}
          key: ${{ secrets.SERVER_PETZY_SSH_KEY }}
          script: |
            cd ~/services/cat-health-control
            git pull origin master
            docker compose build frontend web
            docker compose up -d --no-deps nginx
            docker compose up -d --no-deps --force-recreate frontend web
            docker compose ps
